# 0.0 IMPORTS

## 01. Libraries

In [21]:
import datetime
import warnings
import inflection
import dask.dataframe as dd
import numpy as np
import scipy.stats  as ss

from IPython.display         import Image
from IPython.core.display    import HTML

import matplotlib.pyplot as plt
import seaborn as sns

# 0.2 Notebook Config

In [22]:
def jupyter_settings():
    %matplotlib inline
    
    plt.style.use('bmh')
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML('<style>.container { width:100% !important; }</style>'))
    
    warnings.filterwarnings("ignore")
    
    sns.set()

In [23]:
seed = 42
np.random.seed(seed)

jupyter_settings()

## 0.3 Helper Functions

## 0.4 Load Data

### 0.4.1 Load Raw Data

In [24]:
%time
data_train_raw = dd.read_csv('../00-Data/csv_data/train.csv')

Wall time: 0 ns

In [25]:
%time
data_train_raw.isnull().sum().compute()

Wall time: 0 ns

Semana               0
Agencia_ID           0
Canal_ID             0
Ruta_SAK             0
Cliente_ID           0
Producto_ID          0
Venta_uni_hoy        0
Venta_hoy            0
Dev_uni_proxima      0
Dev_proxima          0
Demanda_uni_equil    0
dtype: int64

In [29]:
data_train_raw.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

In [30]:
data_train_raw.describe().compute().T

,count,mean,std,min,25%,50%,75%,max
Semana,74180464.0,5.950021e+00,2.013175e+00,3.0,4.00,6.0,8.00,9.000000e+00
Agencia_ID,74180464.0,2.536509e+03,4.075124e+03,1110.0,1334.00,1622.0,2054.00,2.575900e+04
Canal_ID,74180464.0,1.383181e+00,1.463266e+00,1.0,1.00,1.0,1.00,1.100000e+01
Ruta_SAK,74180464.0,2.114855e+03,1.487744e+03,1.0,1213.00,1612.0,2903.00,9.991000e+03
Cliente_ID,74180464.0,1.802119e+06,2.349577e+06,26.0,482299.00,1464178.0,2471564.00,2.015152e+09
Producto_ID,74180464.0,2.084081e+04,1.866392e+04,41.0,2233.00,35113.0,43198.00,4.999700e+04
Venta_uni_hoy,74180464.0,7.310163e+00,2.196734e+01,0.0,2.00,4.0,8.00,7.200000e+03
Venta_hoy,74180464.0,6.854452e+01,3.389795e+02,0.0,18.86,34.5,64.17,6.473600e+05
Dev_uni_proxima,74180464.0,1.302577e-01,2.932320e+01,0.0,0.00,0.0,0.00,2.500000e+05
Dev_proxima,74180464.0,1.243248e+00,3.921552e+01,0.0,0.00,0.0,0.00,1.307600e+05
Demanda_uni_equil,74180464.0,7.224564e+00,2.177119e+01,0.0,2.00,4.0,8.00,5.000000e+03